{% extends "base.html" %}

{% block content %}
    {% if validlink %}
        <div class="valign-wrapper row login-box">
            <div class="col card hoverable s10 pull-s1 m6 pull-m3 l4 pull-l4">
                <form action="" method="post">
                    <div style="display:none">
                        <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
                    </div>
                    <div class="card-content">
                        <span class="card-title">Enter a new password</span>
                        <div class="row">
                            <div class="input-field col s12">
                                {{ form.new_password1.errors }}

                                <label for="id_new_password1">New password:</label></td>

                                {{ form.new_password1 }}
                            </div>
                            <div class="input-field col s12">
                                {{ form.new_password2.errors }}

                                <label for="id_new_password2">New password:</label></td>

                                {{ form.new_password2 }}
                            </div>
                        </div>
                        <div class="card-action right-align">
                            <input type="submit" value="Change my password" />
                        </div>
                    </div>
                </form>
            </div>
        </div>
    {% else %}
        <h1>Password reset failed</h1>

        <p>The password reset link was invalid, possibly because it has already been used. Please request a new password reset.</p>
    {% endif %}

{% endblock %}