{% extends "base.html" %}

{% block content %}

<div class="valign-wrapper row login-box">
    <div class="col card hoverable col s6 offset-s3 valign">
        <form action="" method="post">
            {% csrf_token %}
            <div class="card-content">
                <span class="card-title">Password Reset</span>
                <div class="row">
                    <div class="input-field col s12">
                        {{ form.email }}
                    </div>
                </div>
            </div>
            <div class="card-action right-align">
                <input type="submit" class="btn green waves-effect waves-light" value="Reset Password">
            </div>
            {% if form.email.errors %}
                <div class="card-action right-align">
                    {{ form.email.errors }}
                </div>
            {% endif %}
        </form>
</form>

{% endblock %}