{% extends 'base.html' %} 

{% block content %}

{% load jchart %}


{% if models.exists %}
    <div class="row">
        <div class="col s6 chart-padding">
            {{ manufactuter_chart.as_html }}
        </div>

        <div class="col s6">
            <h1>Models</h1>

            <ol>
                {% for model in models.all %}
                    <li>
                        <a class="model-link" href="{% url 'model-train-detail' model.id %}">{{ model }}</a>
                    </li>
                {% endfor %}
            </ol>
        </div>
    </div>

{% else %}

    <h1>Not logged in</h1>

{% endif %}

{% endblock %}