{% extends 'base.html' %} 

{% block content %}

{% if models.exists %}
    <h1>Hello, {{ user.username }}</h1>

    <div class="row">
        <ul class="col s6 collection with-header ">
            <li class="collection-header">
                <h4>Your Collection</h4>
            </li>
            <li class="collection-item">
                <div>
                    View Your Collection 
                    <a href="{% url 'collections' %}" class="secondary-content">
                        <i class="material-icons">send</i>
                    </a>
                </div>
            </li>
            <li class="collection-item">
                <div>
                    Add Train 
                    <a href="{% url 'model-train-create' %}" class="secondary-content">
                        <i class="material-icons">send</i>
                    </a>
                </div>
            </li>
        </ul>

        {% include 'statistics_list.html' with width='6' %} 
    </div>

{% else %}

    <h1>Not logged in</h1>

{% endif %}

{% endblock %}