.update-colour {
    color: #2ef90a !important;
}

.delete-colour {
    color: #ff0d0d !important; 
}

.model-link {
    text-decoration: none;
}

.chart-container {
    text-align: center !important;
}

.chart {
    display: inline !important;
}

.title {
    text-align: center;
}